body {
    background-color: lightgray;
}
.categoty-text {
    font-size: 100px;
}
#sig {
    position: absolute;
    left: 2%;
    top: 95%;
}
#cof {
    position: absolute;
    left: 21.5%;
    top: 95%;
}
#bev {
    position: absolute;
    left: 38.5%;
    top: 95%;
}
#t {
    position: absolute;
    left: 62.5%;
    top: 95%;
}
#des {
    position: absolute;
    left: 82%;
    top: 95%;
}
.main-container {
    position: absolute;
    left: 25%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    background-color: white;
}
.center-text {
    display: flex;
    text-align: center;
    height: 100%;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
.category {
    position: relative;
    align-items: center;
    height: 30%;
    max-width: 100%; 
}
.category img {
    max-width: 100%;
    height: auto;
}
#signature {
    position: absolute;
    top: 32%;
    width: 111px;
    height: auto; 
    left: 2%; 
}
#coffee {
    position: absolute;
    top: 32%;
    width: 130px;
    height: auto; 
    left: 19%; 
}
#beverage {
    position: absolute;
    top: 32%;
    width: 160px;
    height: auto; 
    left: 36%; 
}
#tea {
    position: absolute;
    top: 32%;
    width: 111px;
    height: auto; 
    left: 59%; 
}
#dessert {
    position: absolute;
    top: 32%;
    width: 190px;
    height: auto; 
    left: 77%; 
}