body {
    
}
a {
    text-decoration: none;
    color: black;
}
.bi-house {
    font-size: 23px;
}
.container {
    max-width: 700px;
}
.center-text {
    display: flex;
    text-align: center;
    height: 100%;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
.category {
    position: relative;
    align-items: center;
    height: 30%;
    max-width: 100%; 
}
th {
    font-size: 14px;
}
#signature {
   width: 130px;
   height: 120px;
}
#coffee {
    width: 150px;
    height: 120px;
}
#beverage {
    width: 140px;
    height: 120px;
}
#tea {
    width: 150px;
    height: 120px;
}
#dessert {
    width: 150px;
    height: 120px;
}
img#backImage {
    max-width: 100%;
    height: 10%;
    filter: brightness(80%);
    background-color: white;
}
.btn-lg {
    background-color: rgb(178, 147, 113);
    border-color: rgb(190, 150, 85);
}
.btn-lg:hover {
    background: rgb(178, 147, 113);
}
#Sign_in {
    position: absolute;
    top: 21%;
    left: 65%;
    transform: translate(-50%, -450%);
    color: white;
    border-color: gray;
}
#Sign_up {
    position: absolute;
    top: 21%;
    left: 70%;
    transform: translate(-50%, -450%);
    color: white;
    border-color: gray;
}
#Logout {
    position: absolute;
    top: 21%;
    left: 70%;
    transform: translate(-50%, -450%);
    color: white;
    border-color: gray;
}
pagination1 li a {
    padding: 50px; /* 상하 5px, 좌우 10px 패딩 */
}