<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="main-container">
            <nav class="navbar bg-body-tertiary fixed-top">
                <div class="container-fluid">
                <a class="navbar-brand" href="main.html">
                    <h2><i class="bi bi-house"></i></h2>
                </a>
                <div class="center-text">
                    Menuhere
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
            </nav>
            <div class="category">
                <img src="/image/signature.jpg" alt="Signature" id="signature">
                <img src="/image/coffee.jpg" alt="Coffee" id="coffee">
                <img src="/image/beverage.jpg" alt="Beverage" id="beverage">
                <img src="/image/tea.jpg" alt="Tea" id="tea">
                <img src="/image/dessert.jpg" alt="Dessert" id="dessert">
                <div class="categoty-text">
                    <h4 id="sig">SIGNATURE</h4>
                    <h4 id="cof">COFFEE</h4>
                    <h4 id="t">TEA</h4>
                    <h4 id="bev">BEVERAGE</h4>
                    <h4 id="des">DESSERT</h4>
                </div>
            </div>    
        </div>
    </body>
</html>
